@font-face {
  font-family: "Exodar"; /*Can be any text*/
  src: local("Exodar-Outline"),
    url("./fonts/Exodar-Outline.ttf") format("truetype");
  font-display: swap;
}

body {
  font-family: "Roboto Condensed", sans-serif !important;
  background-color: rgb(255, 252, 252) !important;
}

// CSS used by multiple components

.carousel-image {
  height: 350px !important;
  object-fit: contain;
  width: 100%;
  background-color: #141e46;
}

@media only screen and (max-width: 500px) {
  .carousel-image {
    height: 300px !important;
  }
}

//Header Style Start

.header-container {
  background-color: #141e46;
  padding: 5px 1rem;
}

.header-subcontainer {
  display: flex;
  align-items: center;
  padding: 0;
  line-height: 30px;

  img {
    height: 6rem;
  }

  a {
    font-size: 1.2rem;
    color: #25d366 !important;

    span {
      margin-left: 1rem;
      font-size: 1rem;
    }
  }
}

.header-contact-container {
  justify-content: end !important;
  column-gap: 2rem;
}

@media only screen and (max-width: 500px) {
  .header-subcontainer {
    padding: 1px 0;
    line-height: 15px;
    img {
      height: 4rem;
    }

    a {
      font-size: 13px;
      color: #25d366 !important;
    }
  }

  .header-contact-container {
    align-items: end;
    justify-content: center !important;
    flex-direction: column;
  }
}

//Header Style End

// Navbar Style Start

.navbar {
  background-color: #c70039 !important;
}

.dropdown-toggle {
  color: white !important;
}

// Navbar Style End

.brand-name {
  font-family: "Exodar";
  color: #fff5e0;
  font-weight: 700;
  font-size: 2rem;
  //text-shadow: 5px 1px 20px #8a6a9e;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
}

// Categories Style Start

.categories-container {
  position: relative;
  top: -4rem;

  .card {
    border: none;
    background: #ffffff8a;
    padding: 1rem 0 0;
  }

  .card-img {
    width: 5rem;
    height: 5rem;
  }
}

// Categories Style ends

// Activity Card Style Start

.activity-card {
  // box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  box-shadow: 1px 8px 30px rgba(128, 128, 128, 0.667);
  border-radius: 20px !important;

  .card-title {
    font-size: 0.8rem !important;
  }
}

.activity-card:hover {
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
}

.activity-card-image {
  height: 140px;
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.activityBtn {
  background-color: #ff6969 !important;
  border: 2px solid #ffe600 !important;
  color: #fff5e0 !important;
  font-size: 0.8rem !important;
  padding: 0.5rem !important;
}

.activityBtn:hover {
  background-color: #c70039 !important;
}

@media only screen and (max-width: 500px) {
  .activity-card {
    .card-body {
      //text-align: center;
      padding: 5px 2px;

      .card-title {
        text-align: center;
        font-size: 0.7rem !important;
      }
    }
  }
  .activityBtn {
    font-size: 0.7rem !important;
    padding: 0.3rem !important;
  }
}

// Activity Card Style End

.activity-category {
  .heading {
    font-size: 2rem !important;
    border-bottom: 5px dashed #ff6969;
    margin-bottom: 16px !important;
  }

  .subheading {
    span {
      color: #ff6969;
      font-weight: 700;
    }
  }
}

// Activity Page Style Start

.activity-container {
  padding: 2rem 7rem;
  color: #fff5e0;

  .breadcrumb-item {
    color: #ff6969 !important;

    a {
      color: #212529bf;
      text-decoration: none;
    }
  }

  .breadcrumb-item.active {
    font-weight: 500;
  }

  .carousel {
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
  }

  .enquiry-btn {
    .btn {
      z-index: 99;
      color: #141e46;
      font-weight: 500;
      background-color: #ffe600 !important;
      border: 2px solid #141e46;
    }

    .btn:hover {
      background-color: #7b69ac !important;
    }
  }

  .text-container {
    background-color: #ff6969;
    padding: 2rem 3rem;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    .heading {
      color: #141e46;
      border-bottom: 5px dashed #ffe600;
    }

    .subheading {
      color: #141e46;
      border-top: 5px solid #ffe600;
      border-left: 5px solid #ffe600;
    }

    .title {
      color: #141e46;
      font-weight: 500;
      font-size: 1.2rem !important;
    }

    ul {
      list-style: none;
      span {
        color: #141e46;
      }
    }

    ul li::before {
      content: "\2023";
      color: #ffe600;
      font-weight: 100;
      display: inline-block;
      width: 1rem;
      margin-left: -1em;
    }
  }
}

@media only screen and (max-width: 500px) {
  .activity-container {
    padding: 1rem 0.7rem;

    .text-container {
      padding: 2rem;

      ul {
        margin-left: -15px;
      }
    }
  }
}

// Activity Page Style End

.whatsappBtn {
  z-index: 2;
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #25d366 !important;
  border: none !important;
}

// Home Page Why Choose US Style Start

.feature {
  color: #141e46 !important;

  .title {
    border-bottom: 5px solid #ff6969;
  }
  .feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    i {
      font-size: 3rem !important;
      color: #ffe600;
    }
    .heading {
      color: #141e46 !important;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 500;
    }
    .subheading {
      font-size: 1rem;
      font-weight: 300;
      width: 60%;
      font-style: italic;

      span {
        color: #c70039;
        font-weight: 500;
      }
    }
  }
}

// Home Page Why Choose US Style End

// Testimonial CSS start

.testimonial {
  span {
    color: #c70039;
    font-weight: 500;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    filter: invert(100%) !important;
  }

  .title {
    border-bottom: 5px solid #ff6969;
    color: #141e46 !important;
  }
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  background-color: #141e46;

  p {
    color: white;
    font-size: 5rem;
    margin: 0;
  }
}

// Testimonial CSS end

// Footer Style Start

.footer {
  background-color: #c70039;
  color: white !important;

  img {
    width: 10%;
  }
}

.footer-title-container {
  background-color: #141e46;
  text-align: center;
  color: white;
}

.social-container {
  i {
    color: #fff5e0;
    font-size: 25px;
  }

  i:hover {
    color: #141e46;
  }
}

@media only screen and (max-width: 500px) {
  .footer {
    img {
      width: 60%;
    }
  }
}

// Footer Style End

.bi-geo-alt-fill,
.bi-star-fill {
  color: #ff6969;
}

.alert-container {
  width: 40% !important;
}

@media only screen and (max-width: 500px) {
  .brand-name {
    font-size: 1rem;
  }

  .enquiry-btn {
    .btn {
      scale: 0.8;
    }
  }

  .alert-container {
    width: 90% !important;
  }
}
