@font-face {
  font-family: "Exodar"; /*Can be any text*/
  src: local("Exodar-Outline"),
    url("./fonts/Exodar-Outline.ttf") format("truetype");
  font-display: swap;
}

body {
  font-family: "Roboto Condensed", sans-serif !important;
  background-color: #f8f9fa !important;
}

.navbar {
  background-color: #c70039 !important;
}

.dropdown-toggle {
  color: white !important;
}

.brand-name-container {
  background-color: #141e46;
  padding: 5px 1rem;
}

.brand-name-subcontainer {
  display: flex;
  align-items: center;
  padding: 0;
  line-height: 30px;

  img {
    height: 4rem;
  }

  a {
    font-size: 1.2rem;
    color: #25d366 !important;

    span {
      margin-left: 1rem;
      font-size: 1rem;
    }
  }
}

.brand-contact-container {
  justify-content: end !important;
  column-gap: 2rem;
}

.brand-name {
  font-family: "Exodar";
  color: #fff5e0;
  font-weight: 700;
  font-size: 2rem;
  text-shadow: 5px 1px 20px #8a6a9e;
}

.home-carousel-image {
  height: 500px !important;
}

.card {
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  border-radius: 20px !important;
}

.card:hover {
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
}

.activity-category {
  .heading {
    font-size: 2rem !important;
    border-bottom: 5px dashed #ff6969;
    margin-bottom: 16px !important;
  }

  .subheading {
    span {
      color: #ff6969;
      font-weight: 700;
    }
  }
}

.activity-card-image {
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.activityBtn {
  background-color: #ff6969 !important;
  border: 1px solid #141e46 !important;
  color: #fff5e0 !important;
}

.activityBtn:hover {
  background-color: #c70039 !important;
}

.breadcrumb-item {
  color: #7b69ac !important;

  a {
    color: #212529bf;
    text-decoration: none;
  }
}

.breadcrumb-item.active {
  font-weight: 500;
}

.activity-container {
  padding: 2rem 7rem;

  .carousel {
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
  }

  .enquiry-btn {
    .btn {
      z-index: 99;
      background-color: #615387 !important;
      border: none;
    }

    .btn:hover {
      background-color: #7b69ac !important;
    }
  }

  .text-container {
    background-color: #fbeff1;
    padding: 2rem 3rem;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    .heading {
      border-bottom: 5px dashed #8a6a9e;
    }

    .subheading {
      border-top: 5px solid #7b69ac;
      border-left: 5px solid #8a6a9e;
    }

    ul {
      list-style: none;
    }

    ul li::before {
      content: "\2023";
      color: #7b69ac;
      font-weight: 100;
      display: inline-block;
      width: 1rem;
      margin-left: -1em;
    }
  }
}

.whatsappBtn {
  z-index: 2;
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #25d366 !important;
  border: none !important;
}

.footer {
  background-color: #c70039;
  color: white !important;

  img {
    width: 10%;
  }
}

.footer-title-container {
  background-color: #141e46;
  text-align: center;
  color: white;
}

.social-container {
  i {
    color: #fff5e0;
    font-size: 25px;
  }

  i:hover {
    color: #141e46;
  }
}

.location-select {
  position: relative;
  top: -5rem;
  width: 20% !important;
}

.input-group-text {
  background-color: #fff5e0 !important;
  border: 2px solid #c70039 !important;
  border-right: none !important;
}

.form-select {
  border: 2px solid #c70039 !important;
  border-left: none !important;
  color: #ff6969 !important;
  background-color: #fff5e0 !important;
}

.form-select:focus {
  box-shadow: none !important;
  border: #8a6a9e;
}

.bi-geo-alt-fill,
.bi-star-fill {
  color: #ff6969;
}

.alert-container {
  width: 40% !important;
}

@media only screen and (max-width: 500px) {
  .brand-name-subcontainer {
    padding: 1px 0;
    line-height: 15px;
    img {
      height: 4rem;
    }

    a {
      font-size: 13px;
      color: #25d366 !important;

      span {
        margin-left: 0.5rem;
        font-size: 13px;
      }
    }
  }

  .brand-contact-container {
    align-items: end;
    justify-content: center !important;
    flex-direction: column;
  }

  .brand-name {
    font-size: 1rem;
  }

  .home-carousel-image {
    height: 250px !important;
    //object-fit: cover;
  }

  .enquiry-btn {
    .btn {
      scale: 0.8;
    }
  }

  .location-select {
    width: 50% !important;
  }

  .alert-container {
    width: 90% !important;
  }

  .activity-container {
    padding: 1rem 0.7rem;

    .text-container {
      padding: 2rem;
    }
  }

  .footer {
    img {
      width: 60%;
    }
  }
}
