body {
  font-family: "Roboto Condensed", sans-serif !important;
  background-color: #f8f9fa !important;
}

.brand-name {
  color: #7b69ac;
}

.home-carousel-image {
  height: 500px;
}

.card {
  box-shadow: #fbeff1 1.95px 1.95px 2.6px;
  border: none;
}

.card:hover {
  box-shadow: #8a6a9e 2.5px 2.5px 3.6px !important;
}

.activityBtn {
  background-color: #615387 !important;
  border: 2px solid #fbeff1 !important;
}

.activityBtn:hover {
  border-color: #7b69ac !important;
}

.breadcrumb-item {
  color: #7b69ac !important;

  a {
    color: #212529bf;
    text-decoration: none;
  }
}

.breadcrumb-item.active {
  font-weight: 500;
}

.activity-container {
  padding: 2rem 7rem;

  .carousel {
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
  }

  .enquiry-btn {
    display: flex;
    justify-content: end;
    position: relative;
    top: -5rem;
    right: 5rem;

    .btn {
      z-index: 99;
      background-color: #615387 !important;
      border: 2px solid #fbeff1 !important;
      transition: tranform 0.3s;
    }

    .btn:hover {
      transform: scale(1);
      border: 4px solid #fbeff1 !important;
    }
  }

  .text-container {
    background-color: #fbeff1;
    padding: 2rem 3rem;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    .heading {
      border-bottom: 5px dashed #8a6a9e;
    }

    .subheading {
      border-top: 5px solid #7b69ac;
      border-left: 5px solid #8a6a9e;
    }

    ul {
      list-style: none;
    }

    ul li::before {
      content: "\2023";
      color: #7b69ac;
      font-weight: 100;
      display: inline-block;
      width: 1rem;
      margin-left: -1em;
    }
  }
}

.whatsappBtn {
  z-index: 2;
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #25d366 !important;
  border: none !important;
}

.footer {
  background-color: #fbeff1;
  color: #7b69ac;

  img {
    width: 20%;
  }
}

.social-container > div > a > i {
  color: #7b69ac;
  font-size: 25px;
}

.location-select {
  position: relative;
  top: -5rem;
  width: 20% !important;
}

.input-group-text {
  background-color: white !important;
  border: 2px solid #8a6a9e !important;
  border-right: none !important;
}

.form-select {
  border: 2px solid #8a6a9e !important;
  border-left: none !important;
  color: #7b69ac !important;
}

.form-select:focus {
  box-shadow: none !important;
  border: #8a6a9e;
}

.bi-geo-alt-fill,
.bi-star-fill {
  color: #7b69ac;
}

@media only screen and (max-width: 500px) {
  .home-carousel-image {
    height: 250px;
  }

  .location-select {
    width: 50% !important;
  }

  .activity-container {
    padding: 1rem;

    .text-container {
      padding: 2rem;
    }
  }

  .footer {
    img {
      width: 60%;
    }
  }
}
